body,div,ul,li,p {
    margin: 0;
    padding: 0;
}
body {
    color: #666;
    font: 12px/1.5 Arial;
}
ul {
    list-style-type: none;
}
#star {
    position: relative;
    width: 600px;
    margin: 10px auto;
}
#star ul, #star span {
    float:left;
    display: inline;
    height: 19px;
    line-height:19px;
}
#star ul {
    margin: 0 10px;
}
#star li {
    float: left;
    width: 24px;
    cursor: pointer;
    text-indent: -9999px; /* 起到隐藏文字的效果 */
    background: url(img/star.png) no-repeat;
}
#star strong {
    color: #f60;
    padding-left: 10px;
}
#star li.on {
    background-position:0 -28px;
}
#star p {
    position: absolute;
    top: 20px;
    width: 159px;
    height: 60px;
    display: none;
    background: url(img/icon.gif) no-repeat;
    padding: 7px 10px 0;
}
#star p em {
    color: #f60;
    display: block;
    font-size: normal;
}