<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>窗口拖曳</title>
        <link type="text/css" rel="stylesheet" href="popupBox.css">
    </head>
    <body>
        <div id="drag">
            <!--窗口标题栏-->
            <div class="title">
                <h2>可拖曳的窗口</h2>
                <div>
                    <!--右上的窗口控制按钮，title是鼠标移上去显示的内容-->
                    <a class="min" href="javascript:;" title="最小化"></a>
                    <a class="max" href="javascript:;" title="最大化"></a>
                    <a class="revert" href="javascript:;" title="还原"></a>
                    <a class="close" href="javascript:;" title="关闭"></a>
                </div>
            </div>
            <!--控制窗口改变大小的元素-->
            <div class="resizeL"></div>
            <div class="resizeT"></div>
            <div class="resizeR"></div>
            <div class="resizeB"></div>
            <div class="resizeLT"></div>
            <div class="resizeTR"></div>
            <div class="resizeBR"></div>
            <div class="resizeLB"></div>
            <!--窗口内容-->
            <div class="content">
                1. 窗口可以拖动；<br />
                2. 窗口可以通过八个方向改变大小；<br />
                3. 窗口可以最小化、最大化、还原、关闭；<br />
                4. 限制窗口最小宽度/高度。
            </div>
        </div>
    </body>
    <script src="popupBox.js" type="text/javascript"></script>
</html>