body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font: 30px/1.5 Tahoma;
    background: url(img/bg.png);
    text-align: center;
}

#box {
    position: relative;
    width:410px;
    height:570px;
    margin: 10px auto;
}

#box li {
    float: left;
    width: 82px;
    height: 190px;
    overflow:hidden;
}

#box li img {
    width: 82px;
    height: 190px;
}

#box li.hig {
    width: 78px;
    height: 186px;
    overflow: hidden;
    border: 2px dashed yellow;
}

#box li.hig img {
    width: 78px;
    height: 186px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 410px;
    height: 570px;
    background: red;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*设置margin和display来居中,需要父元素text-align:center */
#center {
    margin: 0 auto;
    display: inline-block;
}

input {
    cursor: pointer;
}

#photo {
    text-align: center;
    margin: 10px 0;
}

#photo img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 0 5px;
    opacity:0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
}

#photo img.hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#photo img.selected {
    border: 2px solid yellow;
    width: 96px;
    height: 96px;
    opacity: 1;
    filter: alpha(opacity=100);
}